
/* 

--- Vertical Rhythm Tool - http://soqr.fr/vertical-rhythm/ --- 
           Font-size : 14px  Line-height : 1.6

*/

html {
    font-size: 62.5%;
}
body {
    font-size: 1.4em;
    line-height: 1.6;
}
p, 
ul, 
ol, 
dl, 
blockquote, 
pre, 
td, 
th, 
textarea {
    font-size: 1em; /* equiv 14px */
    line-height: 1.6;
    margin: 1.6em 0;
}
h1, .h1 {
    font-size:  1.8571em; /* equiv 26px */
    line-height: 1.723;
    margin:  1.723em 0 .8615em 0;
}
h2, .h2 {
    font-size:  1.7143em; /* equiv 24px */
    line-height: 1.8666;
    margin:  1.8666em 0 .9333em 0;
}
h3, .h3 {
    font-size:  1.5714em; /* equiv 22px */
    line-height:  1.0182;
    margin:  2.0364em 0  1.0182em 0;
}
h4, .h4 {
    font-size:  1.4286em; /* equiv 20px */
    line-height:  1.12;
    margin:  2.24em 0  1.12em 0;
}
h5, .h5 {
    font-size:  1.2857em; /* equiv 18px */
    line-height:  1.2444;
    margin:  2.4888em 0  1.2444em 0;
}
h6, .h6 {
    font-size:  1.1429em; /* equiv 16px */
    line-height:  1.4;
    margin:  2.8em 0  1.4em 0;
}
// .smaller {
//     font-size: .7143em; /* equiv 10px */
//     line-height:  2.24;
//     margin:  2.24em 0  2.24em 0;
// }
.sm {
    font-size: .8571em; /* equiv 12px */
    line-height:  1.8667;
    margin:  1.8667em 0  1.8667em 0;
}
.md {
    font-size:  1.1429em; /* equiv 16px */
    line-height:  1.4;
    margin:  1.4em 0  1.4em 0;
}
.lg {
    font-size:  1.2857em; /* equiv 18px */
    line-height:  1.2444;
    margin:  1.2444em 0  1.2444em 0;
}
.xl {
    font-size:  1.4286em; /* equiv 20px */
    line-height:  1.12;
    margin:  1.12em 0  1.12em 0;
}
/* avoid collapsing margins
you might need this, depending on your design
*/
/*
h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
    margin-top: 0;
}
*/
/* avoid last-child bottom margin */
p:last-child, 
ul:last-child, 
ol:last-child, 
dl:last-child, 
blockquote:last-child, 
pre:last-child, 
table:last-child {
    margin-bottom: 0;
}


/* avoid supp margin on nested elements */
li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* you shall not pass */
textarea,
table, 
td, 
th, 
code, 
pre, 
samp, 
div, 
p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
code, 
pre, 
samp {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code {
    line-height: 1;
}
table {
    margin-bottom: 1.6em;
}