/**
 * Vertical rhythm by Syncope
 * http://nowodzinski.pl/syncope
 */

html, body {
	font: 16px/1.5 'Helvetica';
}

$v-rhythm-levels: (
	4: ( 5.06rem, 1.19rem, 0.247rem, 0.0494rem ),
	3: ( 3.38rem, 1.33rem, 0.333rem, 0.111rem ),
	2: ( 2.25rem, 1.33rem, 0.333rem, 0.333rem ),
	1: ( 1.50rem, 2.00rem, 0.667rem, 0.333rem ),
	0: ( 1.00rem, 1.50rem, 0.438rem, 1.06rem ),
);

/**
 * Sets vertical–rhythm for the given level.
 * Usage:
 *
 * 	h1 {
 * 		@include v-rhythm( 4 );
 * 	}
 */
@mixin v-rhythm( $level ) {
	$rhythm: map-get( $v-rhythm-levels, $level );

	font-size: nth( $rhythm, 1 );
	line-height: nth( $rhythm, 2 );
	padding-top: nth( $rhythm, 3 );
	margin-bottom: nth( $rhythm, 4 );
}

h1 { @include v-rhythm( 4 ); }
h2 { @include v-rhythm( 3 ); }
h3 { @include v-rhythm( 2 ); }
h4 { @include v-rhythm( 1 ); }
h5 { @include v-rhythm( 0 ); }
h6 { @include v-rhythm( 4 ); }