
/* 

--- Vertical Rhythm Tool - http://soqr.fr/vertical-rhythm/ --- 
           Font-size : 16px  Line-height : 1.5

*/

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    line-height: 1.5;
}
p, 
ul, 
ol, 
dl, 
blockquote, 
pre, 
td, 
th, 
textarea,
caption {
    font-size: 1em; /* equiv 16px */
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}
h1, 
.h1-like {
    font-size:  2em; /* equiv 32px */
    line-height: 1.5;
    margin: 0 0 .75em 0;
}
h2, 
.h2-like {
    font-size:  1.75em; /* equiv 28px */
    line-height: 1.7142;
    margin: 0 0 .8571em 0;
}
h3, 
.h3-like {
    font-size:  1.5em; /* equiv 24px */
    line-height:  1;
    margin: 0 0  1em 0;
}
h4, 
.h4-like {
    font-size:  1.25em; /* equiv 20px */
    line-height:  1.2;
    margin: 0 0  1.2em 0;
}
h5, 
.h5-like {
    font-size:  1em; /* equiv 16px */
    line-height:  1.5;
    margin: 0 0  1.5em 0;
}
h6, 
.h6-like {
    font-size: .75em; /* equiv 12px */
    line-height:  2;
    margin: 0 0  2em 0;
}

// .sm {
//     font-size: $half-line-height; /* equiv 12px */
//     line-height: 2;
//     padding: 0 $half-line-height;
//     margin-bottom: $line-height;
// }
// .md {
//     font-size: $half-line-height + 2px; /* equiv 14px */
//     line-height: $line-height / 2;
//     padding: $half-line-height $line-height;
//     margin-bottom: $half-line-height;
// }
// .lg {
//     font-size: $half-line-height + 4px; /* equiv 18px */
//     line-height:  $line-height;
//     padding: $half-line-height $line-height * 2;
//     margin: 0 0  $line-height 0;
// }
// .xl {
//     font-size:  $half-line-height + 10; /* equiv 22px */
//     line-height:  $line-height * 2;
//     padding: $half-line-height $line-height * 3;
//     margin: 0 0 $line-height 0;
// }


/* avoid supp margin on nested elements */
li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* you shall not pass */
textarea,
table, 
td, 
th, 
code, 
pre, 
samp, 
div, 
p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
code, 
pre, 
samp {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code {
    line-height: 1;
}
table {
    margin-bottom: 1.5em;
}