@import './mixin.scss';

button, .button, 
[type=reset],
[type=button],
[type=submit] {
    color: $bg-color;
    background: $primary-color;
    // opacity: 0.5;
    min-width: initial;
    text-decoration: none;
    display: inline-block;
    user-select: none;
    vertical-align: top;

    @include border(1.5px, $primary-color);
    @include transition;

    &:active {
        transform: scale(0.99);
    }
    &:hover, &:focus {
        opacity: .9;
        outline: none;
    }
    &[disabled] {
        opacity: 0.8;
        cursor: not-allowed;
    }
    &.outline {
        color: $primary-color;
        background: none;

        &:hover, &:focus {
            background: none;
        }
    }

    // Sizes
    &.sm {
        @extend .sm-v;
        padding-left: $half-line-height;
        padding-right: $half-line-height;
    }
    &.md, & {
        @extend .md-v;
        padding-left: $line-height;
        padding-right: $line-height;
    }
    &.lg {
        @extend .lg-v;
        padding-left: $line-height * 2;
        padding-right: $line-height * 2;
    }
    &.xl {
        @extend .xl-v;
        padding-left: $line-height * 3;
        padding-right: $line-height * 3;
    }
}

// button, .button, 
// [type=reset],
// [type=button],
// [type=submit] {
//     &.small {
//         // padding: $line-height / 4;
//         padding: $line-height / 6 $line-height;
//         height: auto;
//         margin-bottom: $line-height / 2;
//     }
// }