@import "./mixin.scss";

.btn {
    // opacity: 0.5;
    display: inline-block;
    vertical-align: top;

    color: var(--bg-color);
    background: #111111;
    text-decoration: none;
    border-radius: 2px;

    user-select: none;

    @include transition;

    &:active {
        transform: scale(0.99);
    }
    &:hover,
    &:focus {
        opacity: 0.9;
        outline: none;
    }
    &[disabled] {
        opacity: 0.8;
        cursor: not-allowed;
    }
    &.outline {
        @include border(1.5px, #111111);
        color: #111111;
        background: none;

        &:hover,
        &:focus {
            background: none;
        }
        svg {
            fill: #111111;
        }
    }

    // Sizes
    // &.sm {
    //     @extend .sm;
    //     margin-bottom: 0;
    // }
    &.md, & {
        @extend .md;
    }

    // &.lg {
    //     @extend .lg-v;
    //     padding-left: var(--line-height) * 2;
    //     padding-right: var(--line-height) * 2;
    // }
    // &.xl {
    //     @extend .xl-v;
    //     padding-left: var(--line-height) * 3;
    //     padding-right: var(--line-height) * 3;
    // }
    svg {
        width: calc(1em + 2px);
        height: calc(1em + 2px);
        fill: var(--bg-color);
        vertical-align: text-bottom;
    }
}

// button, .button,
// [type=reset],
// [type=button],
// [type=submit] {
//     &.small {
//         // padding: var(--line-height) / 4;
//         padding: var(--line-height) / 6 $line-height;
//         height: auto;
//         margin-bottom: var(--line-height) / 2;
//     }
// }
