.form {
    p {
        padding-top: 0;
        margin-bottom: var(--line-height-half);
    }
    .custom-input {
        height: calc(var(--line-height) * 1.5);
        line-height: calc(var(--line-height) * 1.5);
    }
    label:first-child {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1em;
        width: 10rem;
        text-align: right;
    }
    input,
    textarea,
    select {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        vertical-align: middle;
    }
    textarea { vertical-align: top; }
    .form-tip {
        @include smaller();
        margin-left: 1em;
    }
    &.stacked {
        p {
            margin-bottom: var(--line-height);
        }
        textarea {
            min-height: calc(var(--line-height-4) - 12px);
        }
        label:first-child {
            display: block;
            text-align: left;
            margin-bottom: var(--line-height-half);
        }
    }
    &.full-width {
        input:not([type="button"]):not([type="submit"]):not([type="reset"]),
        textarea,
        select {
            width: 100%;
        }
        .form-tip { margin-left: 0; }
    }
}
