@import './mixin.scss';

input[type=text], 
input[type=password], 
input[type=email], 
input[type=search], 
input[type=number], 
input[type=tel], 
input[type=url], 
input[type=date], 
input[type=datetime], 
input[type=datetime-local], 
input[type=week], 
input[type=month], 
input[type=time], 
select, 
textarea {
    height: $line-height * 2;
    padding: $line-height / 2;

    min-width: $line-height * 6;
    // width: 100%;
    margin-bottom: $line-height;
  
    font-size: 13px;
    background: $bg-color;
  
    @include border(1px, $gray-color);
    @include transition;

    -webkit-appearance: none;

    &:hover {
        border-color: $primary-color;
    }

    &:focus {
        outline: none;
        border-color: $secondary-color;
    }
}

input:not([type=reset]):not([type=button]):not([type=submit]),
select, 
textarea {
    &.small {
        padding: $line-height / 4;
        height: $line-height;
        margin-bottom: $line-height / 2;
        min-width: $line-height * 8;
    }
    &.full-width {
        width: 100%;
    }
}

textarea {
    min-height: 70px;
    // height: $line-height * 3;
}

select {
    -webkit-appearance: none;
    background: $bg-color no-repeat 100%;
    background-size: 1ex;
    background-origin: content-box;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='%23555'><polygon points='0,0 60,0 30,40'/></svg>");
}

label:first-child {
    margin-right: 1em;

    + input:not([type="checkbox"]):not([type="radio"]), 
    + textarea,
    + select {
        margin-top: 1em;
    }
}

.form {
    .row {
        margin-bottom: 0!important;
    }
    input:not([type="checkbox"]):not([type="radio"]), 
    textarea, 
    select { width: 100%; }
    p {
        input:not([type="checkbox"]):not([type="radio"]), 
        textarea, 
        select {
            margin-bottom: 0;
        }
    }
    &.inline {
        input:not([type="checkbox"]):not([type="radio"]), 
        textarea, 
        select { width: auto; }
        label:first-child {
            width: $line-height * 8;
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            + input, 
            + textarea,
            + select {
                margin-top: 0;
            }
            + textarea {
                vertical-align: text-top;
            }
        }
    }
}

[type="checkbox"],
[type="radio"] {
    width: 1.33333rem;
    height: 1.33333rem;
    margin: 0;
    padding: 0;
    outline: none;
    text-align: center;
    border: 1px solid $fore-color;
    border-radius: 2px;
    color: $bg-color;
    appearance: none;
    // font-family: airal;
    -webkit-appearance: none;

    & + label {
        margin-left: 0.5rem;
    }
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    border-color: $fore-color;
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
    color: $fore-color;
    border-color: $fore-color;
}
input[type="radio"] {
    border-radius: 100%;
}
input[type="checkbox"]:after {
    content: "✔";
}
input[type="radio"]:after {
    content: "●";
}
