label:first-child {
    margin-right: 1em;

    + input:not([type="checkbox"]):not([type="radio"]), 
    + textarea,
    + select {
        margin-top: 1em;
    }
}

.form {
    .row {
        margin-bottom: 0!important;
    }
    input:not([type="checkbox"]):not([type="radio"]), 
    textarea, 
    select { width: 100%; }
    p {
        input:not([type="checkbox"]):not([type="radio"]), 
        textarea, 
        select {
            margin-bottom: 0;
        }
    }
    &.inline {
        input:not([type="checkbox"]):not([type="radio"]), 
        textarea, 
        select { width: auto; }
        label:first-child {
            width: $line-height * 8;
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            + input, 
            + textarea,
            + select {
                margin-top: 0;
            }
            + textarea {
                vertical-align: text-top;
            }
        }
    }
}
