$gutter: 12px;

$breakpoint-sm: 35.5rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;
$breakpoint-xl: 80rem;

@import "./_grid-col.scss";

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;

    @media screen and (min-width: $breakpoint-sm) {
        max-width: 540px;
    }
    @media screen and (min-width: $breakpoint-md) {
        max-width: 720px;
    }
    @media screen and (min-width: $breakpoint-lg) {
        max-width: 960px;
    }
    @media screen and (min-width: $breakpoint-lg) {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    &:not(.no-gutter) {
        margin: 0 -1 * $gutter;
    }
}

.row > *,
.col {
    padding: 0 $gutter;
    margin-bottom: $gutter * 2;
}
.row.no-gutter > *,
.row.no-gutter .col {
    padding: 0;
    margin: 0;
}
