.message {
    position: relative;
    display: inline-block;
    margin-bottom: var(--line-height);
    padding: var(--line-height-half) 1em;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 5px var(--line-height-half) 0 rgba(227, 227, 227, 0.5);

    max-width: 20em;
    word-break: break-all;

    &.full-width {
        display: block;
        max-width: initial;
    }
    &[data-action] {
        padding-right: var(--font-size-2);
    }
}
.messages {
    position: absolute;
    top: var(--line-height);
    left: var(--line-height);
}

.toast {
    cursor: pointer;
    .message {
        position: fixed;
        z-index: 1;
        top: -6em;
        opacity: 0.5;
        transition: all 0.3s var(--anim-tween);
    }
    &.show {
        .message {
            top: var(--line-height);
            opacity: 1;
        }
    }
}

