.message {
    position: relative;
    display: inline-block;
    margin-bottom: $line-height;
    padding: $line-height / 2;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    max-width: 30em;

    box-shadow: 0 5px $line-height/2 0 rgba(227, 227, 227, 0.5);

    &.success { @include colorBackground('success') }
    &.warning { @include colorBackground('warning') }
    &.info    { @include colorBackground('info') }
    &.error   { @include colorBackground('error') }

    &.success, &.warning, &.info, &.error {
        color: #fff;
        border: none
    }
    $icon-size: $font-size;
    &.close {
        padding-right: $icon-size + $icon-size;
    }
    ins {
        cursor: pointer;
        position: absolute;
        right: $line-height / 2;
        top: $icon-size;
        display: block;
        width: $icon-size;
        height: $icon-size;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") center center no-repeat;
    }
}

