.nav, nav {
    margin-bottom: $line-height;
    > * {
        padding: $half-line-height $line-height;
        height: $line-height * 2;
        // margin: 0 $half-line-height / 6;
        border-bottom: 3px solid transparent;
        text-decoration: none;
    }
    .current, .current:hover {
        cursor: default;
        text-decoration: none;
        border-bottom-color: $primary-color;
        color: $primary-color
    }
}