* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:active {
    color: inherit;
}

//ul, ol {
//    list-style: none;
//}

input,
button,
select,
textarea {
    font-size: inherit;
    line-height: inherit;
    border: 0;
    outline: none;
    max-width: 100%;
    background: transparent;
    -webkit-appearance: none;
}

fieldset {
    legend {
        margin-bottom: var(--line-height);
        background-color: var(--bg-color);
    }
    padding: 0 var(--line-height-half);
    border: 0;
    border-radius: 2px;
    margin-bottom: var(--line-height) - 2px;

    @include shadow-border(1px, #ccc);
}
