// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans

// universal

// grid
$grid-columns: 12;
$container-width: 90%;
$gutter: 1em;

$breakpoint-small: 540px;
$breakpoint-med: 720px;
$breakpoint-large: 960px;

.container {
    width: $container-width;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $breakpoint-small) {
        width: 80%;
    }

    @media only screen and (min-width: $breakpoint-large) {
        width: 75%;
        max-width: $breakpoint-large;
    }
}

.row {
    display: flex;
    > div:not(.fixed-width):not([class^="col-"]) {
        flex: 1;
    }

    &:not(.no-gutter) {
        margin: $gutter * -1 0 $gutter $gutter * -1;
        > div {
            padding: $gutter 0 0 $gutter;
        }
    }
}

@for $i from 1 through $grid-columns {
    $column-width: ($i / $grid-columns) * 100;
    .col-#{$i} {
        width: percentage(100 / 12 / 100 * $i);
    }
}
// max-width: percentage(100 / 12 / 100)
