/* Tab */
@import "./mixin.scss";

.accordion {
    border-left: 1px solid $gray-color;
    border-right: 1px solid $gray-color;
    border-top: 1px solid $gray-color;
    @include transition;

    details {
        &[open] {
            border-bottom: 1px solid $gray-color;
        }
        &[open] summary {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>');
        }
        > div {
            padding: $line-height / 2 2em;
        }
    }

    summary::-webkit-details-marker {
        display: none;
    }
    summary {
        border-bottom: 1px solid $gray-color;
        // margin-top: -1px;
        padding: $line-height / 3 1.6em;
        list-style-image: none;

        user-select: none;
        cursor: default;

        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>');
        background-position: left center;
        background-repeat: no-repeat;

        display: flex;
        justify-content: space-between;
        align-items: center;
        // user-select: none;

        .action {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &:focus {
            outline: none;
        }
    }
}

.tab {
    display: flex;
    margin-bottom: 0;
    border-bottom: 1px solid $primary-color;

    &.vertical {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        border-bottom: none;
        border-left: 1px solid $primary-color;
        height: 100%;

        &.small .item {
            // line-height: 1em;
            // padding: $line-height / 4 $line-height;
            line-height: 1em;
            padding: $line-height $line-height / 4;
        }
        .item {
            writing-mode: vertical-rl;
            margin-bottom: $line-height / 2;
            margin-right: 0;
            margin-left: -1px;
            padding: $line-height $line-height / 4;

            &:last-child {
                margin-bottom: 0;
            }
            &.active {
                border-color: $primary-color;
                border-left: $bg-color;
            }
        }
    }

    &.right {
        justify-content: flex-end;
    }
    &.center {
        justify-content: center;
    }
    &.small {
        .item {
            line-height: 1em;
            padding: $line-height / 4 $line-height;
        }
    }

    .item {
        padding: $line-height / 4 $line-height;

        margin-right: $line-height / 2;
        margin-bottom: -1px;

        @include border(1px, $primary-color);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        cursor: default;

        &:last-child {
            margin-right: 0;
        }
        &.active {
            border-bottom-color: $bg-color;
        }
    }
}
.tab-content {
}
