// Vertical-rhythm box
.sm {
    font-size: $half-line-height!important; /* equiv 12px */
    line-height: $line-height!important;
    padding: 0 $half-line-height / 2!important;
}
.md {
    font-size: $half-line-height + 2px; /* equiv 14px */
    line-height: $line-height;
    padding: $half-line-height / 2 $line-height;
    margin-bottom: $half-line-height;
}
.lg {
    font-size: $half-line-height + 4px; /* equiv 18px */
    line-height: $line-height * 2;
    margin-bottom: $line-height;
    padding: 0 $line-height * 2;
}
.xl {
    font-size: $half-line-height + 10; /* equiv 22px */
    line-height: $line-height * 3;
    margin-bottom: $line-height;
    padding: 0 $line-height * 3;
}

// Align
.valign {
    display: flex;
    align-items: center;
}
.halign {
    display: flex;
    justify-content: center;
}
.salign {
    // side align
    display: flex;
    justify-content: space-between;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

// utils
.full-width {
    width: 100%;
}
.none {
    display: none !important;
}

// debug
.lorem-text {
    display: none;
}
.lines {
    background: linear-gradient(to bottom, $bg-color, $bg-color 95%, #aaa 100%, #aaa);
    background-size: 100% 24px;
    .lorem-text {
        display: block;
    }
}
