// Vertical-rhythm box
.sm {
    font-size: var(--half-line-height)!important; /* equiv 12px */
    line-height: var(--line-height)!important;
    padding: 0 calc(var(--half-line-height) / 2)!important;
}
.md {
    font-size: calc(var(--half-line-height) + 2px); /* equiv 14px */
    line-height: var(--line-height);
    padding: calc(var(--half-line-height) / 2) var(--line-height);
    margin-bottom: var(--half-line-height);
}
.lg {
    font-size: calc(var(--half-line-height) + 4px); /* equiv 18px */
    line-height: calc(var(--line-height) * 2);
    margin-bottom: var(--line-height);
    padding: 0 calc(var(--line-height) * 2);
}
.xl {
    font-size: calc(var(--half-line-height) + 10px); /* equiv 22px */
    line-height: calc(var(--line-height) * 3);
    margin-bottom: var(--line-height);
    padding: 0 calc(var(--line-height) * 3);
}

// Align
.valign {
    display: flex;
    align-items: center;
}
.halign {
    display: flex;
    justify-content: center;
}
.salign {
    // side align
    display: flex;
    justify-content: space-between;
}
.center, .toast {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bottom {
    position: fixed;
    bottom: 0;
}

// utils
.full-width {
    width: 100%;
}
.none {
    display: none !important;
}

// colors
.success { @include colorBackground('success') }
.warning { @include colorBackground('warning') }
.info    { @include colorBackground('info') }
.error   { @include colorBackground('error') }

.success, .warning, .info, .error {
    color: #fff;
    border: none
}

// debug
.lorem-text {
    display: none;
}
.lines {
    background: linear-gradient(to bottom, var(--bg-color), var(--bg-color) 95%, #aaa 100%, #aaa);
    background-size: 100% 24px;
    .lorem-text {
        display: block;
    }
}
