$fore-color: #000000;
$bg-color: #ffffff;

$primary-color: #111111;
$secondary-color: #104cfb;
$gray-color: #a4a4a4;

$base-margin: 14px * 1.6;

$grid-columns: 12;

$font-size: 14px;
$line-height: 14px * 1.6;

$gutter: 0.5em;

$breakpoint-sm: 35.5em;
$breakpoint-md: 48em;
$breakpoint-lg: 64em;
$breakpoint-xl: 80em;