<fieldset>
    <legend>Breakpoints</legend>
    <div class="breakpoint-tips nav halign">
        {% for bp in grid.breakpoints %}
            <span class="sm span-{{ bp.prefix }}">{{ bp.name}}({{ bp.prefix | selector }})</span>
        {% endfor %}
    </div>
    <style>
        .breakpoint-tips span {
            display: none;
            background: #eee;
            margin: 0 12px;
        }
        @media screen and (min-width: 35.5em) {
            .span-sm { display: inline-block!important; }
        }
        @media screen and (min-width: 48em) {
            .span-md { display: inline-block!important; }
        }
        @media screen and (min-width: 64em) {
            .span-lg { display: inline-block!important; }
        }
        @media screen and (min-width: 80em) {
            .span-xl { display: inline-block!important; }
        }
    </style>
</fieldset>