{% extends "layout.njk" %}

{% block body %}

{# 
<div class="accordion">
{% for item in range(5) %}
<details>
    <summary>
        <strong>{{ item }}-How do I get to New Orleans?</strong> 
        <div class="action">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="none" d="M0 0h20v20H0V0z"/><path d="M15.95 10.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12 2.34c-.03-.2-.2-.34-.4-.34H8.4c-.2 0-.36.14-.39.34l-.3 2.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39 0-.49.18l-1.6 2.77c-.1.18-.06.39.1.51l1.69 1.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37 12.1c-.15.12-.19.34-.1.51l1.6 2.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58 1.35.78l.3 2.12c.04.2.2.34.4.34h3.2c.2 0 .37-.14.39-.34l.3-2.12c.49-.2.94-.47 1.35-.78l1.99.8c.18.07.39 0 .49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10 13c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 3v18h18V3H3zm8 16H5v-6h6v6zm0-8H5V5h6v6zm8 8h-6v-6h6v6zm0-8h-6V5h6v6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </div>
    </summary>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium sapiente reprehenderit odit assumenda unde molestiae. Eum pariatur consequatur vitae ea. Alias ut nobis inventore dignissimos laudantium omnis voluptate itaque corrupti.</div>
</details>
{% endfor %}
</div>

{% for item in ['center', 'right', 'small'] %}
<ul class="tab {{ item }}">
    <li class="item active">one</li>
    <li class="item">two</li>
    <li class="item">three</li>
</ul>
{% endfor %}

<div class="v-tab" style="height: 500px;">
    {% for item in ['vertical', 'small vertical'] %}
    <ul class="tab {{ item }}">
        <li class="item active">one</li>
        <li class="item">two</li>
        <li class="item">three</li>
    </ul>
    {% endfor %}

</div>
#}

{% include "nav.njk" %}

<fieldset>
    <legend>Grid</legend>

    <div class="containers">
        <h2>Basics auto</h2>
        <div class="row">
            <div>
                <div class="demo">col 1</div>
            </div>
            <div>
                <div class="demo">col 2</div>
            </div>
            <div>
                <div class="demo">col 3</div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="demo">col 1</div>
            </div>
            <div>
                <div class="demo">col 2</div>
            </div>
            <div>
                <div class="demo">col 3</div>
            </div>
        </div>
        <h2>No gutter</h2>
        <div class="row no-gutter">
            <div>
                <div class="demo">col 1</div>
            </div>
            <div>
                <div class="demo">col 2</div>
            </div>
            <div>
                <div class="demo">col 3</div>
            </div>
        </div>
        <div class="row no-gutter">
            <div>
                <div class="demo">col 1</div>
            </div>
            <div>
                <div class="demo">col 2</div>
            </div>
            <div>
                <div class="demo">col 3</div>
            </div>
        </div>
        <h2>Fixed width</h2>
        <div class="row">
            <div class="fixed-width" style="width: 15em">
                <div class="demo">left: 12em</div>
            </div>
            <div>
                <div class="demo">center</div>
            </div>
            <div class="fixed-width" style="width: 25em">
                <div class="demo">right: 25em</div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="demo">.col-2</div>
            </div>
            <div>
                <div class="demo">auto</div>
            </div>
            <div class="col-2">
                <div class="demo">.col-2</div>
            </div>
        </div>
        <h2>Column size</h2>

        {% for col in range(12) %}
            <div class="row">
                {% if 12 % (col + 1) == 0 %}
                    {% for item in range(col + 1) %}
                        <div class="col-{{ 12 / (col + 1) }}">
                            <div class="demo">.col-{{ 12 / (col + 1) }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</fieldset>


<fieldset>
    <legend>Input: form</legend>

    <div class="row">
        <div class="col">
            <div class="form inline">
                <p>
                    <label for="username1">Username</label>
                    <input id="username1" type="text" placeholder="input your name" />
                </p>
                <p>
                    <label for="password1">Password</label>
                    <input id="password1" type="password" placeholder="input your pass" />
                </p>
                <p>
                    <label for="gender1">Gender</label>
                    <select id="gender1">
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </p>
                <p>
                    <label for="check">Select</label>
                    <input type="checkbox" id="check" />
                    <label for="check">Yes / no</label>
                    <input type="radio" id="yes" name="rio" id="check2" checked/>
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="rio" id="check3" />
                    <label for="no">No</label>
                </p>
                <p>
                    <label for="text1">Some other long longger field to input</label>
                    <input id="text1" type="text" placeholder="input your field" />
                </p>
                <p>
                    <label for="desc1">Description</label>
                    <textarea id="desc1" placeholder="input your desc"></textarea>
                </p>
                <p>
                    <label></label>
                    <input type="Submit" value="Submit" /> <input class="outline" type="reset" value="Reset" />
                </p>
            </div>
        </div>
        <div class="col form">
            <div class="row">
                <div class="col">
                    <label for="username2">Username</label>
                    <input id="username2" type="text" placeholder="input your name" />
                </div>
                <div class="col">
                    <label for="gender2">Gender</label>
                    <select id="gender2">
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
            </div>

            <label for="desc2">Description</label>
            <textarea id="desc2" placeholder="input your desc"></textarea>

            <button>Save</button>
        </div>
    </div>

</fieldset>

<fieldset>
    <legend>Input: interactive</legend>

    <input type="image" src="https://code-sketch.com/apple-icon-57x57.png"/>
    {% for type in input.interactive %}
        <input type="{{ type }}"/>
    {% endfor %}
</fieldset>

<fieldset>
    <legend>Forms</legend>

    <select>
        <option>Long longer longest option</option>
    </select>
    <select>
        <optgroup label="Group 1">
            <option>Option 1.1</option>
        </optgroup>
        <optgroup label="Group 2">
            <option>Option 2.1</option>
            <option>Option 2.2</option>
        </optgroup>
        <optgroup label="Group 3" disabled="disabled">
            <option>Option 3.1</option>
            <option>Option 3.2</option>
            <option>Option 3.3</option>
        </optgroup>
    </select>
</fieldset>

<fieldset>
    <legend>Tables</legend>

    <table>
        <thead>
            <tr>
                <td>cell1</td>
                <td>cell2</td>
                <td>cell3</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cell1</td>
                <td>cell2</td>
                <td>cell3</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>cell1</td>
                <td>cell2</td>
                <td>cell3</td>
            </tr>
        </tfoot>
    </table>
</fieldset>

{% endblock body %}