<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../joshua.scss" />
    <script>
        window.JOSHUA_CONFIG = {
            {#namespace: '$'#}
        }
    </script>
    <script src="../joshua.js"></script>

    <style>
        small { color: #999; font-size: 12px; white-space: nowrap; }
        .demo {
            text-align: center;
            background: rgba(208, 208, 208, 0.6);
            border-radius: 5px;
            padding: 1em 0;
        }
        .demo .demo { background: #fafafa; }
        .demo p { margin: 0; }
        fieldset {
            border-radius: 5px;
        }
        legend {
            {# font-size: 1.5em; #}
        }
    </style>
</head>
<body>

{% macro lorem() %}
<p class="lorem-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit cum tenetur culpa reprehenderit alias fugit, perspiciatis laboriosam sapiente eligendi iure illo quod unde voluptas itaque assumenda commodi debitis voluptate.</p>
{% endmacro %}

{% macro para() %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit cum tenetur culpa reprehenderit alias fugit, perspiciatis laboriosam sapiente eligendi iure illo quod unde voluptas itaque assumenda commodi debitis voluptate.</p>
{% endmacro %}

{% macro heading(n) %}
<h{{ n }}>Heading {{ n }}</h{{ n }}>
{% endmacro %}

{% macro CustomInput(label, type, name="") %}
<span class="custom-input">
    <input type="{{ type }}" id="{{ label | midline }}" name="{{ name | midline }}" >
    <label for="{{ label | midline }}">{{ label }} </label>
</span>
{% endmacro %}

{% macro TextInputField(label, tips="") %}
    <label for="{{ label | midline }}">{{ label }}</label>
    <input class="input" id="{{ label | midline }}" type="text" placeholder="type your {{ label }}" />
    <span class="form-tip">check your {{ label }} correction.</span>
{% endmacro %}
{% macro PasswordInputField(label, tips="") %}
    <label for="{{ label | midline }}">{{ label }}</label>
    <input class="input" id="{{ label | midline }}" type="password" placeholder="type your {{ label }}" />
    <span class="form-tip">check your {{ label }} correction.</span>
{% endmacro %}
{% macro SelectField(label, options=['Female', 'Male']) %}
<label for="{{ label | midline }}">{{ label }}</label>
<select class="select" id="{{ label | midline }}">
    {% for item in options %}
        <option value="{{ loop.index }}">{{ item }}</option>
    {% endfor %}
</select>
{% endmacro %}
{% macro TextareaField(label, tips="") %}
    <label for="{{ label | midline }}">{{ label }}</label>
    <textarea class="textarea" id="{{ label | midline }}" placeholder="type your {{ label }}"></textarea>
{% endmacro %}
{% macro SubmitBtn(value='Submit', cls='') %}
<input class="btn {{cls}}" type="Submit" value="{{ value }}" />
{% endmacro %}
{% macro ResetBtn(value='Reset', cls='') %}
<input class="btn {{cls}}" type="reset" value="{{ value }}" />
{% endmacro %}
{% macro Btn(value='Save', type="button", cls='') %}
<button class="btn {{cls}}" type="{{ type }}">{{ value }}</button>
{% endmacro %}


<div class="container">
{% block body %}{% endblock body %}
</div>

</body>
</html>
