<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../main.scss" />

    <style>
        small { color: #999; font-size: 12px; white-space: nowrap; }
        .demo {
            text-align: center;
            background: rgba(208, 208, 208, 0.6);
            border-radius: 5px;
            padding: 1em 0;
        }
        .demo .demo { background: #fafafa; }
        .demo p { margin: 0; }
        fieldset {
            border-radius: 5px;
        }
        legend {
            {# font-size: 1.5em; #}
        }
    </style>
</head>
<body>

{% macro lorem() %}
<p class="lorem-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit cum tenetur culpa reprehenderit alias fugit, perspiciatis laboriosam sapiente eligendi iure illo quod unde voluptas itaque assumenda commodi debitis voluptate.</p>
{% endmacro %}

{% macro para() %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum suscipit cum tenetur culpa reprehenderit alias fugit, perspiciatis laboriosam sapiente eligendi iure illo quod unde voluptas itaque assumenda commodi debitis voluptate.</p>
{% endmacro %}

{% macro heading(n) %}
<h{{ n }}>Heading {{ n }}</h{{ n }}>
{% endmacro %}

{% macro CustomInput(label, type, name="") %}
<span class="custom-input">
    <input type="{{ type }}" id="{{ label | midline }}" name="{{ name | midline }}" >
    <label for="{{ label | midline }}">{{ label }} </label>
</span>
{% endmacro %}


<div class="container">
{% block body %}{% endblock body %}
</div>

</body>
</html>