{% macro navItem(name, active) %}
    <a {% if name == active %}class="current"{% endif %}
        data-href="./page-{{ name }}.html">{{ name | title }}</a>
{% endmacro %}

<nav class="nav demo-nav halign">
    {{ navItem('grid', active) }}
    <span>◈</span>
    {{ navItem('button', active) }}
    <span>◈</span>
    {{ navItem('input', active) }}
    <span>◈</span>
    {{ navItem('form', active) }}
    <span>◈</span>
    {{ navItem('typo', active) }}
    <span>◈</span>
    {{ navItem('components', active) }}
    <a>
        {{ CustomInput('Show Lines', 'checkbox') }}
        {# <span class="custom-input">
            <input type="checkbox" id="show-lines">
            <label for="show-lines">Show lines</label>
        </span> #}
    </a>
    <script>
    function checkMe(el) {
        if (el.checked) {
            document.body.classList.add('lines')
        } else {
            document.body.classList.remove('lines')
        }
    }

    let showLineEl = document.querySelector('#show-lines')
    showLineEl.addEventListener('change', e => {
        checkMe(e.target)
    })
    checkMe(showLineEl)
    </script>
</nav>
<style>
nav span { color: #ccc; }
</style>
<script>
(function() {
    document.querySelectorAll('a').forEach(a => {
        if (!a.classList.contains('current')) {
            a.href = a.getAttribute('data-href')
        }
    })
})()
</script>
