{% extends "layout.njk" %}

{% block body %}

{% set active = 'button' %}
{% include "nav.njk" %}

{% macro col(num) %}
    {% for item in range(num) %}
    <div> <div class="demo">col {{ item + 1 }}</div> </div>
    {% endfor %}
{% endmacro %}

{{ lorem() }}

<fieldset>
    <legend>Buttons</legend>
    <div class="row">
        <div class="col-1-2">
            <input class="btn" type="button" value="input:button" />
            <button class="btn">button</button>
            <a href="#none" class="btn">a.btn</a>
            <span class="btn">span.btn</span>
        </div>
        <div class="col-1-2">
            <input class="btn success" type="button" value="input:button" />
            <button class="btn info">button</button>
            <a href="#none" class="btn warning">a.btn</a>
            <span class="btn error">span.btn</span>
        </div>
    </div>

</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Sizes</legend>
    {% for item in grid.breakpoints %}
        <p>
        {% for type in input.btn %}
            <input class="btn {{ item.prefix }}" type="{{ type }}" value="{{ item.name }}">
        {% endfor %}
            <button class="btn {{ item.prefix }}">button</button>
            <a href="#none" class="btn {{ item.prefix }}">a.btn</a>
        </p>
    {% endfor %}
</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Buttons: .outline</legend>
    {% for item in grid.breakpoints %}
        <p >
        {% for type in input.btn %}
            <input class="btn outline {{ item.prefix }}" type="{{ type }}" value="{{ type }}">
        {% endfor %}
            <button class="btn outline {{ item.prefix }}">button</button>
            <a href="#none" class="btn outline {{ item.prefix }}">a.btn</a>
        </p>
    {% endfor %}
    <p>
        <button class="btn success">success</button>
        <button class="btn info">info</button>
        <button class="btn info">info</button>
    </p>
</fieldset>

{{ lorem() }}

{% endblock body %}
