{% extends "layout.njk" %}

{% block body %}

{% set active = 'form' %}
{% include "nav.njk" %}


<fieldset>
    <legend>Basics</legend>
    <div class="form">
        <p>
            {{ TextInputField('Username1') }}
        </p>
        <p>
            {{ PasswordInputField('Password1') }}
        </p>
        <p>
            {{ SelectField('Gender1') }}
        </p>
        <p>
            <label for="check">Select</label>
            {{ CustomInput("Remember Me", "checkbox") }}
        </p>
        <p>
            <label for="check">Gender</label>
            {{ CustomInput("Male", "radio", "gender") }}
            {{ CustomInput("Female", "radio", "gender") }}
        </p>
        <p>
            {{ TextInputField('Some other long longger field to input') }}
        </p>
        <p>
            {{ TextareaField('Description') }}
        </p>
        <p>
            <label></label>
            {{ SubmitBtn() }}
            {{ ResetBtn(cls="outline") }}
        </p>
    </div>        
    {{ lorem() }}
</fieldset>

<fieldset>
    <legend>Stacked</legend>
    <div class="form stacked">
        <p>
            {{ TextInputField('Username2') }}
        </p>
        <p>
            {{ PasswordInputField('Password2') }}
        </p>
        <p>
            {{ SelectField('Gender2') }}
        </p>
        <p>
            {{ Btn() }}
            {{ Btn('Reset', type="reset", cls="outline") }}
        </p>
    </div>
    {{ lorem() }}
</fieldset>

<fieldset>
    <legend>Full width</legend>
    <div class="form full-width stacked">
        <p>
            {{ TextInputField('Username3') }}
        </p>
        <p>
            {{ PasswordInputField('Password3') }}
        </p>
        <p>
            {{ SelectField('Gender3') }}
        </p>
        <p>
            {{ Btn() }}
            {{ Btn('Reset', type="reset", cls="outline") }}
        </p>
        <p>
            {{ Btn(cls="full-width") }}
            {{ Btn('Reset', type="reset", cls="outline full-width") }}
        </p>
    </div>
    {{ lorem() }}
</fieldset>


{% endblock body %}