{% extends "layout.njk" %}

{% block body %}

{% set active = 'grid' %}
{% include "nav.njk" %}
{% include "breakpoint.njk" %}

<div class="typo">
    <h1>Syncope</h1>
    <p>
        Syncope is a
        <a href="https://en.wikipedia.org/wiki/WYSIWYG">WYSIWYG</a>
        tool that helps web designers and developers chose the optimal vertical rhythm of the
        <a href="https://en.wikipedia.org/wiki/Typography">typography</a>
        for their web pages.
    </p>
    <p>
        Basically, it's a set of tools which adjust the rhythm and output the styles in a preferred, production–friendly format. It is also a lot of fun to play with! In fact, if it weren't for that, this tool wouldn't have seen the light of day.
    </p>
    <h2>Rhythm matters</h2>
    <p>
        Vertical rhythm is a typographic concept in which lines of text are evenly spaced, i.e. regardless of font size or variant, each line must be precisely aligned to the grid of the rhythm. Just like the text you're reading at this moment.
    </p>
    <p>
        When visually organized in such way, the text is usually easier to read and simply looks better as a part of the web page ecosystem. Long story short, it is something that every website should implement to provide the best reading experience.
    </p>
    <h3>How does it work?</h3>
    <p>
        <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a>
        does not offer any
        <strong>direct</strong>
        tool to maintain the vertical rhythm. But if used properly,
        <code>font-size</code>,
        <code>line-height</code>,
        <code>padding</code>,
        <code>margin</code>
        combined together with a simple math will do the trick, which is exactly what Syncope is all about.
    </p>
    <p>
        The key factor to the success is the knowledge of the
        <a href="https://en.wikipedia.org/wiki/Cap_height">cap height</a>
        value for the particular font. Most often than not, it equals
        <code>0.68</code>
        but it differs for some typefaces. Cap height makes it possible to align the
        <a href="https://en.wikipedia.org/wiki/Baseline_(typography)">baseline</a>
        of the text to the rhythm grid knowing only the
        <code>font-size</code>
        and
        <code>line-height</code>.
    </p>
    <h4>So is that it?</h4>
    <p>
        Not really. Syncope is just a specific approach to the problem of vertical rhythm but not the only one. There are many
        <a href="https://pilot.co/blog/implementing-baseline-rhythm-in-css/">great</a>
        <a href="https://medium.com/written-in-code/aligning-type-to-baseline-the-right-way-using-sass-e258fce47a9b#.yuxw2jel2">resources</a>
        to learn from and many on–line tools that do the same job.
    </p>
    <p>
        Also, to my surprise, different web browser engines render things in a slightly
        <a href="https://twitter.com/anowodzinski/status/831060163629084673">different way</a>. It happens quite often when using
        <a href="https://developer.mozilla.org/en/docs/Web/CSS/length#Relative_length_units">EMs or REMs</a>
        as a preferred output unit (sometimes with pixels too). Apparently, this aspect of rendering isn't standardized.
    </p>
    <p>
        Found a bug? Have some comments? Check out Syncope on the
        <a href="https://github.com/oleq/syncope">GitHub</a>.
    </p>
</div>

{% endblock body %}