{% extends "layout.njk" %}

{% block body %}

{% set active = 'components' %}
{% include "nav.njk" %}


{% macro message(content, type='', close=false, more=true) %}
    <span class="message {{ type }} {% if close %}close{% endif %}">{{ content }}
    {% if more %} <a href="#none">More</a> {% endif %}
    {% if close %}<ins></ins>{% endif %}
    </span>
{% endmacro %}

<fieldset>
    <legend>Message</legend>
    <div class="row">
        <div class="col-1-2">
            <p>
                {{ message(loremText) }}
            </p>
            <p>
                {{ message('Hello, This is a message component.', 'success') }}
            </p>
            <p>
                {{ message('Hello, This is a message component.', 'warning') }}
            </p>
            <p>
                {{ message('Hello, This is a message component.', 'info') }}
            </p>
            <p>
                {{ message('Hello, This is a message component.', 'error') }}
            </p>
        </div>
        <div class="col-1-2">
            <p>
                {{ message(loremText, close=true) }}
            </p>
            <p>
                {{ message('Hello, This is a message component.', 'success', close=true) }}
            </p>
            <p>
                {{ message('Hello, This is a message component.', 'warning', close=true) }}
            </p>
            <p>
                {{ message('Hello, This is a message component.', 'info', close=true) }}
            </p>
            <p>
                {{ message('Hello, This is a message component.', 'error', close=true) }}
            </p>
        </div>

    </div>
</fieldset>

<fieldset>
    <legend>Messages(.full-width)</legend>
    <p>
        {{ message(loremText, 'full-width', close=true) }}
    </p>
    <p>
        {{ message('Hello, This is a message component.', 'full-width success') }}
    </p>
    <p>
        {{ message('Hello, This is a message component.', 'full-width warning') }}
    </p>
    <p>
        {{ message('Hello, This is a message component.', 'full-width info') }}
    </p>
    <p>
        {{ message('Hello, This is a message component.', 'full-width error') }}
    </p>
</fieldset>

<fieldset style="position: relative; min-height: 40em;">
    <legend>Messages</legend>
    <ul class="messages">
        <li>
            {{ message(loremText) }}
        </li>
        <li>
            {{ message('Hello, This is a message component.', 'success') }}
        </li>
        <li>
            {{ message('Hello, This is a message component.', 'warning') }}
        </li>
        <li>
            {{ message('Hello, This is a message component.', 'info') }}
        </li>
        <li>
            {{ message('Hello, This is a message component.', 'error') }}
        </li>
    </ul>
</fieldset>


<fieldset>
    <legend>Messages(.toast)</legend>
    <div class="toast center">
        {{ message('toast center', more=false) }}
    </div>
    <div class="toast left">
        {{ message('toast left', more=false) }}
    </div>
    <div class="toast right">
        {{ message('toast right', more=false) }}
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.toast').forEach(t => {
                t.classList.add('show')
            })
        })
    </script>
</fieldset>


{% endblock body %}
