{% extends "layout.njk" %}

{% block body %}

{% set active = 'button' %}
{% include "nav.njk" %}

{% macro col(num) %}
    {% for item in range(num) %}
    <div> <div class="demo">col {{ item + 1 }}</div> </div>
    {% endfor %}
{% endmacro %}

{{ lorem() }}

<fieldset>
    <legend>Buttons</legend>
    <input class="btn" type="button" value="input:button" />
    <button class="btn">button</button>
    <a href="#none" class="btn">a.btn</a>
    <span class="btn">span.btn</span>
</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Sizes</legend>
    {% for item in grid.breakpoints %}
        <p>
        {% for type in input.btn %}
            <input class="btn {{ item.prefix }}" type="{{ type }}" value="{{ item.name }}">
        {% endfor %}
            <button class="btn {{ item.prefix }}">button</button>
            <a href="#none" class="btn {{ item.prefix }}">a.btn</a>
        </p>
    {% endfor %}
</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Buttons: .outline</legend>
    {% for item in grid.breakpoints %}
        <p >
        {% for type in input.btn %}
            <input class="btn outline {{ item.prefix }}" type="{{ type }}" value="{{ type }}">
        {% endfor %}
            <button class="btn outline {{ item.prefix }}">button</button>
            <a href="#none" class="btn outline {{ item.prefix }}">a.btn</a>
        </p>

    {% endfor %}
</fieldset>

{{ lorem() }}

{% endblock body %}