{% extends "layout.njk" %}

{% block body %}

{% set active = 'typo' %}
{% include "nav.njk" %}

<div class="typo">
    {{ heading(1) }}
    {{ para() }}
    {{ para() }}
    {{ heading(2) }}
    {{ para() }}
    {{ para() }}
    {{ heading(3) }}
    {{ para() }}
    {{ para() }}
    {{ heading(4) }}
    {{ para() }}
    {{ para() }}
    {{ heading(5) }}
    {{ para() }}
    {{ para() }}
    {{ heading(6) }}
    {{ para() }}
    {{ para() }}
</div>

{% endblock body %}
