{% extends "layout.njk" %}

{% block body %}

{% set active = 'input' %}
{% include "nav.njk" %}
{% include "breakpoint.njk" %}

{{ lorem() }}

<fieldset>
    <legend>Statefull</legend>

    {% Row %}
        {% Col default=[1, 2] %}
            {% for item in range(2) %}
            {{ CustomInput("Checkbox " + item, "checkbox") }}
            {% endfor %}            
        {% endCol %}
        {% Col default=[1, 2] %}
            {% for item in range(2) %}
                {{ CustomInput("Radio Yes " + item, "radio", "radio-" + item) }}
                {{ CustomInput("Radio No " + item, "radio", "radio-" + item) }}
            {% endfor %}
        {% endCol %}
    {% endRow %}

</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Input: text</legend>

    {% Row %}
        {% for item in input.text %}
            {% Col default=[1, 4] %}
                <input type="{{ item }}" placeholder="{{ item }}"/>
            {% endCol %}
        {% endfor %}
    {% endRow %}
</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Input: .full-width</legend>
    {% Row %}
        {% for item in input.text | max(4) %}
            {% Col default=[1, 2] %}
                <input class="full-width" type="{{ item }}" placeholder="{{ item }}" />
            {% endCol %}
        {% endfor %}
    {% endRow %}
</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Input: time</legend>

    {% Row %}
        {% for item in input.time %}
            {% Col default=[1, 5] %}
                <input type="{{ item }}" placeholder="{{ item }}"/>
            {% endCol %}
        {% endfor %}
    {% endRow %}
</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Sizes</legend>

    <p>input</p>
    {% for item in grid.breakpoints %}
        <input class="{{ item.prefix }}" type="text" placeholder="{{ item.name }} text" />
    {% endfor %}
    <p>select</p>
    {% for item in grid.breakpoints %}
        <select class="{{ item.prefix }}">
            <option value="">{{ item.name }} option 1</option>
            <option value="">{{ item.name }} option 2</option>
        </select>
    {% endfor %}
    <p>textarea</p>
    {% for item in grid.breakpoints %}
        <textarea class="{{ item.prefix }}" placeholder="{{ item.name }} textarea"></textarea>
    {% endfor %}
</fieldset>

{{ lorem() }}

{% endblock body %}