{% extends "layout.njk" %}

{% block body %}

{% set active = 'button' %}
{% include "nav.njk" %}

{% macro col(num) %}
    {% for item in range(num) %}
    <div> <div class="demo">col {{ item + 1 }}</div> </div>
    {% endfor %}
{% endmacro %}

{{ lorem() }}

<fieldset>
    <legend>Buttons</legend>
    <div class="row">
        <div class="col-1-2">
            <input class="btn" type="button" value="input:button" />
            <button class="btn">button</button>
            <a href="#none" class="btn">a.btn</a>
            <span class="btn">span.btn</span>
        </div>
        <div class="col-1-2">
            <input class="btn success" type="button" value="input:button" />
            <button class="btn info">button</button>
            <a href="#none" class="btn warning">a.btn</a>
            <span class="btn error">span.btn</span>
        </div>
    </div>

</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Sizes</legend>
    {% for item in grid.breakpoints %}
        <p>
        {% for type in input.btn %}
            <input class="btn {{ item.prefix }}" type="{{ type }}" value="{{ item.name }}">
        {% endfor %}
            <button class="btn {{ item.prefix }}">button</button>
            <button class="btn {{ item.prefix }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
                button
            </button>
            <a href="#none" class="btn {{ item.prefix }}">a.btn</a>
        </p>
    {% endfor %}
</fieldset>

{{ lorem() }}

<fieldset>
    <legend>Buttons: .outline</legend>
    {% for item in grid.breakpoints %}
        <p >
        {% for type in input.btn %}
            <input class="btn outline {{ item.prefix }}" type="{{ type }}" value="{{ type }}">
        {% endfor %}
            <button class="btn outline {{ item.prefix }}">button</button>
            <button class="btn outline {{ item.prefix }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                button
            </button>
            <a href="#none" class="btn outline {{ item.prefix }}">a.btn</a>
        </p>
    {% endfor %}
    <p>
        <button class="btn success">success</button>
        <button class="btn info">info</button>
        <button class="btn info">info</button>
    </p>
</fieldset>

{{ lorem() }}

{% endblock body %}
